body {
    background: #fff;
    font-family: Arial;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidebar {
    background: orange;
    order: 1;
    flex-basis: 50%;
}

.fotinha img {
    width: 100%;
}

section {
    background: pink;
    order: 2;
    flex-basis: 50%;
}

@media (max-width: 400px) {
    .flexbox {
        flex-direction: column;
    }
}